@import "./reset.css";
@import "../fonts/EuclidCircularB/stylesheet.css";

body {
    /*background-color: #a5a99a30;*/
    font-family: 'Euclid Circular B', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.header {
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/*header*/
.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.header__logo {

}
.logo-icon {
}
.logo-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #084a03;
}
/*menu*/
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center; /*выравнивает по вертикали*/
}
.menu__list {
    display: flex;
    column-gap: 48px;
    margin-right: 327px;
}
.menu__list-item {
    
}
.menu__list-link {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #656361;
}
.menu__list-link--active { /*активный элемент*/
    font-weight: 600;
    color: #bd4c06;
}
.menu__list-link:hover {
    font-weight: 600;
    color: #bd4c06;
}

/*signin*/
.menu__signin {
    display: flex;
    justify-content: space-between;
    width: 160px;
    /*column-gap: 30px; /*че с адаптивом тогда?*/
}
.signin-item {
    
}
.signin-btn--active {
    font-weight: 600;
    color: #bd4c06;
    background: #72824331;
    border-radius: 100px;
    padding: 5px 20px;
   
}
.signin-btn:hover {
    font-weight: 600;
    color: #bd4c06;
}
.signin-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
/*cover*/
.cover {
    position: relative;
    min-height: 720px;
    padding-top: 102px;
    background-color: #77a21a46;
    color: #656361;
}
.container {
}
.cover-bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    object-fit: cover; /*чтоб не деформ пропорции*/
}
.cover__wrapper {
    
    width: 50%;
}
.find-link {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #0165C3;
}
.find-link::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    vertical-align:bottom; /*выравнивание по вертикали*/
    background-image: url(../img/icons/star.svg);
}

.cover__title {
    max-width: 492px;
    margin: 24px 0 30px;
    font-size: 60px;
    line-height: 1.25;
    color: #010101;
}
.cover__text {
    max-width: 492px;
    font-size: 18px;
    line-height: 1.8; 
    color: #413f3e;
    margin-bottom: 60px;
}
/*search-bar*/
.search__bar {
    display: flex;
    justify-content: space-between;
    

}
.search-bar {
    padding: 15px 11px 15px 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 40px 80px -20px rgba(104, 70, 42, 0.05);
    border-radius: 1000px;
    width: 711px;
    position: absolute;
    z-index: 5;
}
.search-bar__wrapper {
    display: flex;
    justify-content: space-between;
}
.select__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 0 20px; /*исправить выравнивание по вертикали*/

    width: 470px;
}
.select {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max-content;
    height: 50px;
}
.select::after {
    content: "";
    display: inline-block;
    background-image: url(../img/icons/Line\ 1.svg);
    width: auto;
    margin-left: 40px;
}
.select__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #010101;
}
.select__title::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 6px;
    background-image: url(../img/icons/arrow-down.svg);
    margin-left: 12px;
}
.select__value {
    font-size: 16px;
    line-height: 20px;
    color: #656361;
}
.search-btn {   
    font-size: 16px;
    line-height: 20px;
    padding: 22px 35px;
    height: 64px;
    box-sizing: 50px;

    color: #FFFFFF;
    background: #084a03;
    border-radius: 1000px;
}
/*partners*/
.partners {

    
}
.partners__wrapper {
    min-height: 580px;
    padding: 148px 0 125px;
}
.partners-taitle {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0165C3;

}
.partrtners-subtaitle {
    margin: 16px auto 25px;
    font-size: 45px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #010101;
}
.partners-text {
    font-size: 18px;
    line-height: 1.8; 
    color: #413f3e;
    text-align: center;
}
.partners__board {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    min-height: 118px;
    
}
.partners-logo {
    display: block;
    align-items: center; /*выравнивание по вертикали*/
}

/*advantages*/
.advantages {
    background-color: #77a21a46;
}
.container {
}
.advantages__wrapper {
    padding: 80px 0 62px;
}
.advantages-title {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0165C3;
}
.advantages-subtitle {
    margin: 16px auto 25px;
    font-size: 45px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #010101;
}
.advantages-text {
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.8; 
    color: #413f3e;
}
.advantages__cards {
    display: flex;
    justify-content: space-between;
}
.advantges__cards-item {
    margin-top: 40px;
    padding: 40px 35px;
    background-color: white;
    width: 380px;
    height: 340px;
    box-shadow: #888684 2px 2px 2px;
}
.advantage__card-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 28px;
}
.advantage__cards-title {
    margin-top: 0;
    font-size: 20px;
    line-height: 25px;
    color: #010101;
}
.advantage__cards-text {
    margin: 16px 0 24px;
    font-size: 16px;
    line-height: 1.8;
    color: #656361;
}
.advantage__cards-link {
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #0165C3;
}
/*subscribe*/
.subscribe {
}
.container {
}
.subscribe__wrapper {
    max-width: 564px;
    margin: 100px auto;
    padding: 80px auto;
}
.subscribe-title {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: -0.005em;
    text-transform: capitalize;
    color: #010101;
}
.subscribe-text {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    color: #656361;
}
.subscribe__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    border: 1px solid #D4CBC4;
    border-radius: 1000px;

}
.subscribe-input {
    width: 70%;
    padding: 0 20px;
}
.subscribe-input::before {  /*не работает, надо вставить иконку в placeholder*/
    content: "";
    display: inline-block;
    background-image: url(../img/icons/sms.svg);
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
.subscribe-btn {
    font-size: 16px;
    line-height: 20px;
    padding: 22px 35px;
    height: 64px;
    box-sizing: 50px;
    color: #FFFFFF;
    background: #084a03;
    border-radius: 1000px;
}
/*footer*/
.footer {
}
.container {
}
.footer__wrapper{
    
}
.footer__top {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 72px;
}
.footer__info {
    width: 30%;
}
.footer-logo {
    
}
.logo-text {
    
}
.footer-text {
    margin: 30px auto 40px;
    font-size: 18px;
    line-height: 1.4;
    color: #656361;
}
.social-link__list {
    display: flex;
    gap: 21px;
    
}
.fb {
}
.social-link__item {
}
.social-link__logo {
}
.ig {
}
.tw {
}
.ytb {
}
.footer__nav-bar {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
.company__link {
}

.company-nav__list {
}
.company-nav__item {
}
.company-link {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #656361;
}
.company__about {
}
.company-title {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 25px;
    color: #010101;
}
.footer__contacts {
    width: 268px;
}
.address {
    margin-top: 20px;
}
.footer__botton {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 24px auto;
    text-align: center;
}
.creater-mark {
    margin: 24px auto;
    text-align: center;
    font-size: 20px;
    color: #010101;
}